<div ng-controller="funcionarioController" ng-init="Pesquisar()">
    <form method="get" class="form-horizontal">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2 style="margin-top:13px"><i class="fa fa-group" style="font-size:20px"></i> Funcionários</h2>
            </div>
            <div class="col-sm-8">
                <div class="title-action" ng-controller="funcionarioController">
                    <a href="" class="btn btn-primary" ui-sref="index.funcionarioCadastro">Novo</a>
                  </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="spiner-example" ng-if="Pesquisa == true">
                                <div class="sk-spinner sk-spinner-three-bounce">
                                    <div class="sk-bounce1"></div>
                                    <div class="sk-bounce2"></div>
                                    <div class="sk-bounce3"></div>
                                </div>
                            </div>
                            <div ng-if="Pesquisa == false">
                                <table class="footable table table-stripped toggle-arrow-tiny table-bordered table-hover" data-page-size="10">
                                    <thead>
                                        <tr>
                                          
                                            <th>Nome</th>
                                            <th>Telefone</th>
                                            <th>Rua</th>
                                            <th>Número</th>
                                            <th>Bairro</th>
                                            <th>Cidade</th>
                                            <th>Estado</th>
                                            <th>E-mail</th>
                                            <th>Login</th>
                                            <th>Senha</th>
                                            <th>Perfil</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Funcionario in FuncionarioDados" style="cursor:pointer">
                                            <td>{{Funcionario.Nome}}</td>
                                            <td>{{Funcionario.Telefone}}</td>
                                            <td>{{Funcionario.Rua}}</td>
                                            <td>{{Funcionario.Numero}}</td>
                                            <td>{{Funcionario.Bairro}}</td>
                                            <td>{{Funcionario.Cidade}}</td>
                                            <td>{{Funcionario.Estado.nome}}</td>
                                            <td>{{Funcionario.Email}}</td>
                                            <td>{{Funcionario.Login}}</td>
                                            <td>{{Funcionario.Senha}}</td>
                                            <td>{{Funcionario.Perfil.nome}}</td>
                                            <td align="right" width="160px">
                                                <a href="" class="btn btn-info" ng-click="EditarItem(item)">Editar</a>
                                                <a href="" class="btn btn-danger" ng-click="ExcluirItem(item)">Excluir</a>
                                                <script>
                                                    $('.footable').trigger('footable_initialized');
                                                </script>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
