<div ng-controller="funcionarioController" ng-init="CadastroEdicaoInit(true)">
    <form method="get" class="form-horizontal" ng-submit="Salvar(true)">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2 style="margin-top:13px"><i class="fa fa-group" style="font-size:20px"></i> Editar Funcionário</h2>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row animated fadeInRightBig">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="spiner-example" ng-if="Pesquisa == true">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="Pesquisa == false">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nome*:</label>
                                <div class="col-md-10"><input type="text" class="form-control" ng-model="Funcionario.Nome" maxlength="100" ng-required="true"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">E-mail*:</label>
                                <div class="col-md-4"><input type="email" class="form-control" maxlength="40" ng-model="Funcionario.Email" ng-required="true"></div>
                                <label class="col-sm-2 control-label">Senha*:</label>
                                <div class="col-md-4"><input type="password" class="form-control" maxlength="40" ng-model="Funcionario.Senha" ng-required="true"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Perfil*:</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="Funcionario.Perfis.selected"
                                            ng-options="item as item.Nome for item in Perfis | orderBy:'Nome' track by item.Id"
                                            ng-required="true">
                                        <option value="">Selecione um Perfil</option>
                                    </select>
                                </div>
                                <div ng-if="Funcionario.Perfis.selected.Id == 2">
                                    <label class="col-sm-2 control-label">FoodTruck*:</label>
                                    <div class="col-md-4">
                                        <select class="form-control" ng-options="item as item.Nome for item in foodTrucks | orderBy:'Nome' track by item.Id" ng-model="Funcionario.foodTruck.selected" ng-disabled="Pesquisa" required="">
                                            <option value="">Selecione</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-if="Funcionario.Perfis.selected.Id == 1">
                                    <label class="col-sm-2 control-label">FoodTruck*:</label>
                                    <div class="col-md-4">
                                        <p ng-repeat="item in foodTrucks | orderBy:'Nome'" style="margin:0px">
                                            <input type="checkbox"
                                                   name="selectedFoodTrucks[]"
                                                   value="{{item.Nome}}"
                                                   ng-checked="selection.indexOf(item) > -1"
                                                   ng-click="toggleSelection(item)"
                                                   id="{{item.Id}}" />
                                            <label for="{{item.Id}}">
                                                {{item.Nome}}
                                            </label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Logradouro*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" ng-model="Funcionario.Logradouro" maxlength="400" ng-required="true"></div>
                                <label class="col-sm-2 control-label">Número*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" maxlength="15" ng-model="Funcionario.Numero" ng-required="true"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bairro*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" ng-model="Funcionario.Bairro" maxlength="20" ng-required="true"></div>
                                <label class="col-sm-2 control-label">Cidade*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" maxlength="20" ng-model="Funcionario.Cidade" ng-required="true"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado*:</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="Funcionario.Estados.selected"
                                            ng-options="item as item.nome for item in Estados | orderBy:'nome'"
                                            ng-required="true">
                                        <option value="">Selecione um Estado</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Telefone*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" maxlength="15" ng-model="Funcionario.Telefone" ng-required="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <toaster-container></toaster-container>
    </form>
</div>