<div ng-controller="cardapioController" ng-init="CadastroEdicaoInit(true)">
    <form method="get" class="form-horizontal" ng-submit="Salvar(true)">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2 style="margin-top:13px"><i class="fa fa-group" style="font-size:20px"></i> Editar Cardápio</h2>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row animated fadeInRightBig">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="spiner-example" ng-if="Pesquisa == true">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="Pesquisa == false">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">FoodTruck*:</label>
                                <div class="col-md-4">
                                    <select class="form-control" ng-options="item as item.Nome for item in foodTrucks | orderBy:'Nome' track by item.Id" ng-model="CardapioDados.foodTruck.selected" ng-disabled="Pesquisa" required="">
                                        <option value="">Selecione</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Descrição*:</label>
                                <div class="col-md-4"><input type="text" class="form-control" ng-model="CardapioDados.Descricao" maxlength="100" required=""></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Observação:</label>
                                <div class="col-md-10"><textarea class="form-control" ng-model="CardapioDados.Observacao" maxlength="200"></textarea></div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Nome*:</label>
                                            <div class="col-md-8"><input type="text" class="form-control" ng-model="listaItemCardapio.Nome" maxlength="50" /></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Preço*:</label>
                                            <div class="col-md-8"><input type="number" class="form-control" ng-model="listaItemCardapio.Preco" maxlength="30" /></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Observação:</label>
                                            <div class="col-md-8"><textarea class="form-control" ng-model="listaItemCardapio.Observacao" maxlength="200"></textarea></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><a href="" class="btn btn-info pull-right" ng-click="AdicionarItemCardapio()">Adicionar</a></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="max-height: 200px;overflow-y:auto">
                                        <table class="footable table table-stripped toggle-arrow-tiny table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Prato</th>
                                                    <th width="20%">Preço</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in CardapioDados.ItemCardapio" style="cursor:pointer">
                                                    <td>{{item.Nome}}</td>
                                                    <td>R$ {{item.Preco}}</td>
                                                    <td align="right" width="80px">
                                                        <label class="btn btn-info btn-xs" ng-if="item.Observacao != '' && item.Observacao != undefined" uib-tooltip="{{item.Observacao}}" tooltip-placement="left">Obs</label>
                                                        <a href="" class="btn btn-danger btn-xs" ng-click="ExcluirItemCardapio(item, true)">Excluir</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <toaster-container></toaster-container>
    </form>
</div>