<div ng-controller="funcionarioController" ng-init="CadastroEdicaoInit(true)">
    <form method="get" class="form-horizontal" ng-submit="Salvar(false)">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2 style="margin-top:13px"><i class="fa fa-group" style="font-size:20px"></i> Editar Cardápio</h2>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="spiner-example" ng-if="Pesquisa == true">
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                        <div ng-if="Pesquisa == false">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Descrição*:</label>
                                <div class="col-md-10"><input type="text" class="form-control" ng-model="CardapioDados.descricao" maxlength="100" required=""></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Observação:</label>
                                <div class="col-md-10"><textarea class="form-control" ng-model="CardapioDados.observacao" maxlength="200"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <toaster-container></toaster-container>
    </form>
</div>