<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2></h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="text-center animated fadeInRightBig">
                        <h2 class="font-bold">Bem vindo ao Faz aí</h2>
                        <div class="error-desc">
                            <a ui-sref="index.funcionario" class="btn btn-warning m-t btn-block">Continuar seu cadastro</a>
                            <a ui-sref="index.foodtruck" class="btn btn-success m-t btn-block">Continuar cadastro do FoodTruck</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>