<div ng-controller="funcionarioController">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <form method="get" class="form-horizontal" ng-submit="Salvar(false, true)">
            <div class="spiner-example" ng-if="Pesquisa == true">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
            <div ng-if="Pesquisa == false">
                <div>
                    <h1 align="center" class="logo-name"><img src="Img/LogoFazAi.jpg" style="width:95px" /></h1>
                </div>
                <br />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome" required="" ng-model="Funcionario.Nome">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" ng-model="Funcionario.Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" required="" ng-model="Funcionario.Senha">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome do FoodTruck" required="" ng-model="Funcionario.NomeFoodTruck">
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox" required=""><i></i> Aceita os termos e política de dados </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Registrar</button>

                <p class="text-muted text-center"><small>Já possui uma conta?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>
            </div>
            <toaster-container></toaster-container>
        </form>
    </div>
</div>