<nav class="navbar-default navbar-static-side" role="navigation" style="border-right: 1px solid #ffffff;">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-collapse">
            <ul side-navigation class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element" uib-dropdown>
                        <a uib-dropdown-toggle href>
                            <table width="100%">
                                <tr>
                                    <td align="center" width="20%"><img src="Img/LogoFazAi.jpg" style="width:45px" ui-sref="index.main" /></td>
                                </tr>
                            </table>
                        </a>
                    </div>
                    <div class="logo-element">
                        <a href="index.html">Faz aí</a>
                    </div>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="index.foodtruck"><i class="fa fa-truck"></i> <span class="nav-label">Food truck</span> </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="index.funcionario"><i class="fa fa-group"></i> <span class="nav-label">Funcionário</span> </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="index.cardapio"><i class="fa fa-cutlery"></i> <span class="nav-label">Cardápio</span> </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="index.relatorio"><i class="fa fa-pie-chart"></i> <span class="nav-label">Relatórios</span> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>